<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <button onClick="location.href='/';">go home</button>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <!-- model 안에 있는 key가 members인 변수를 가져옴 -->
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}">id</td>
                <td th:text="${user.name}">name</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>