<!-- src/main/resources/templates/carbon-neutral.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탄소중립 소개 페이지</title>
</head>
<body>
<h1>탄소중립에 대한 소개</h1>
<p>탄소중립은 대기 중 온실가스 농도 증가를 막기 위해 인간 활동에 의한 배출량을 감소시키고,<br>
    흡수량을 증대하여 순배출량이 ‘0’이 되는 것을 탄소중립 혹은 ‘넷제로(Net-Zero)’라고 말합니다.<br>
    우리나라는 2050년을 목표로 탄소중립을 이루기 위해 노력하고 있습니다.</p>
<p>더 많은 정보를 위해, 다음 자료를 참고하세요...</p>
<a href="https://www.gihoo.or.kr/menu.es?mid=a30101020000">탄소중립 자세히 알아보기</a>
</body>
</html>
